*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#main{
    width: 1200px;
    height: 460px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
#banner div{
    width: 1200px;
    height: 460px;
    background-repeat: no-repeat;
    float: left;
}
#ban_1{
    background-image: url("img/bg1.jpg");
}
#ban_2{
    background-image: url("img/bg2.jpg");
}
#ban_3{
    background-image: url("img/bg3.jpg");
}
#prev{
    display: block;
    width: 40px;
    height: 80px;
    position: absolute;
    left: 244px;
    top: 180px;
    background: url("img/arrow.png") center center no-repeat;
    line-height: 80px;
    transform: rotate(180deg);
}
#next{
    display: block;
    width: 40px;
    height: 80px;
    position: absolute;
    top: 180px;
    background: url("img/arrow.png") center center no-repeat;
    line-height: 80px;
    left: auto;
    right: 0;
}
#prev:hover,#next:hover{
    background-color: #333;
}
.cycle{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.cycle span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(7, 17, 27, 0.4);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
    cursor: pointer;
}
.cycle span.active{
    background-color: white;
}